<!doctype html>
<html data-theme="{{ theme_mode }}">
  <title>ʻāwīwī – {% block page_title %}{{ title|striptags }}{% endblock %}</title>
  <head>
    <script src="/static/js/common.js"></script>
    <link rel="stylesheet" href="/static/css/common.css" />
    <link id="{id}" rel="stylesheet" href="/static/css/solarized.css" />
  </head>
  <body>
    <label class="switch">
      <input type="checkbox" id="mode-switcher-input" {{ 'checked="true"' if theme_mode == "dark" else '' }} onclick="themeChanger()" />
      <div class="slider round"></div>
    </label>

    <header>
      <h1>
        {% block title %}{{ title }}{% endblock %}
      </h1>
    </header>

    <div class="container">

      <div class="aside">

        <div class="breadcrumbs">
          <a class="breadcrumbs-link" href="/">ʻāwīwī</a>
          {% for crumb in breadcrumbs %}
            &gt; <a class="breadcrumbs-link" href="{{ crumb.target }}">{{ crumb.name }}</a>
          {% endfor %}
        </div>

        {% block aside %}{% endblock %}

      </div>

      <div class="article">

        {% block content %}
        {{ content }}
        {% endblock %}

        {% block footer %}{% endblock %}
      </div>
    </div>

  </body>

</html>

<!---
vim: ft=html.j2
-->
