<!doctype html>
<html data-theme="{{ 'dark' if dark_mode else 'light' }}">
  <title>ʻāwīwī – {{ title }}</title>
  <head>
    <script src="/static/js/common.js"></script>
    <link rel="stylesheet" href="/static/css/common.css" />
    <link id="{id}" rel="stylesheet" href="/static/css/solarized.css" />
  </head>
  <body>
    <label class="switch">
      <input type="checkbox" id="mode-switcher-input" {{ 'checked="true"' if dark_mode else '' }} onclick="themeChanger()" />
      <div class="slider round"></div>
    </label>

    <header>
      <h1>
        {{ title }}
      </h1>
    </header>

    <div class="container">

      <div class="aside">

        {% if breadcrumbs|default(false) %}
        <div class="breadcrumbs">
          <a class="breadcrumbs-link" href="/">ʻāwīwī</a> &gt;
          {% for crumb in breadcrumbs %}
            <a class="breadcrumbs-link" href="{{ crumb.target }}">{{ crumb.name }}</a>
            {% if not loop.last %} &gt; {% endif %}
          {% endfor %}
        </div>
        {% endif %}

        {% block aside %}{% endblock %}

      </div>

      <div class="article">

        {% block content %}
        {{ content }}
        {% endblock %}

        {% block footer %}{% endblock %}
      </div>
    </div>

  </body>

</html>

<!---
vim: ft=html.j2
-->
