{% extends "base.html.j2" %}

{% block page_title %}
{{ title | beautify_if_date("%B %Y") | striptags }}
{% endblock %}

{% block title %}
{{ title | beautify_if_date(format="%B") }}
{% endblock %}

{% block aside %}

  <div class="title-aside">
    <span>{{ title | beautify_if_date }}</span>
  </div>

  {{ toc }}

<div class="prevnext small">
  {% if prev|default(false) %}
    <a class="prev-journal" href="/journal/{{ prev }}">« previous</a>
  {% endif %}
  {% if next|default(false) %}
    <a class="next-journal" href="/journal/{{ next }}">next »</a>
  {% endif %}

</div>

{% endblock %}


{% block content %}
{{ content }}

{% if is_localhost and schedule|default(false) %}
<h2>schedule</h2>
<table class="schedule">
  <tr>
    {% for name in ["start", "end", "duration"] %}
      <th>{{ name }}</th>
    {% endfor %}
  </tr>

  {% for start, end, duration in schedule %}
  <tr>
    <td>{{ start }}</td>
    <td>{{ end }}</td>
    <td>{{ duration }}</td>
  </tr>
  {% endfor %}

  {% if total|default(false) %}
    <tr class="total-row">
      <td><b>total</b></td>
      <td></td>
      <td class="{{ 'positive-balance' if good_balance else 'negative-balance' }}">{{ total }}</td>
    </tr>
  {% endif %}

</table id>
{% endif %}


{% endblock %}


{% block footer %}

  <hr id="footer-separator">
  <div class="prevnext large">
    {% if prev|default(false) %}
    <a class="prev-journal" href="/journal/{{ prev }}">« previous</a>
    {% endif %}
    {% if next|default(false) %}
    <a class="next-journal" href="/journal/{{ next }}">next »</a>
    {% endif %}
  </div>

{% endblock %}

<!---
vim: ft=html.j2
-->
