{% extends "base.html.j2" %}

{% block title %}{{ title|replace("-", " ") }}{% endblock %}
{% block content %}

{% if is_secret %}
<div id="secret-notice">
  <p>you can only see this secret on localhost</p>
</div>
{% endif %}

{% if not is_secret or is_localhost %}
{{ content }}
{% endif %}
{% endblock %}

{% block aside %}

  <div class="title-aside">
    <span>{{ title }}</span>
  </div>
  {{ toc }}

{% endblock %}

<!---
vim: ft=html.j2
-->
