@media screen and (max-width: 1400px) {
  body {
    padding: 0 20%;
    width: 60% }
}
@media screen and (min-width: 1401px) {
  body {
    padding: 0 33%;
    width: 33% }
}

body {
  font-family: TeX Gyre Adventor, Helvetica, Arial, sans-serif;
  line-height: 1.45;
  letter-spacing: 0.01em
}

pre, code {
  background-color: #f8f8f8;
  font-family: Hack;
}

pre {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 9.5px;
  margin: 0 0 10px;
  box-sizing: border-box;
  font-size: 13px;
}
