actdiag==2.0.0
blockdiag==2.0.1
click==7.1.2
Flask==1.1.2
funcparserlib==0.3.6
itsdangerous==1.1.0
Jinja2==2.11.3
kbdextension==1.0.1
Markdown==3.3.4
markdown-blockdiag==0.7.0
markdown-strikethrough==0.1.2
MarkupSafe==1.1.1
nwdiag==2.0.0
Pillow==8.1.2
pkg-resources==0.0.0
seqdiag==2.0.0
webcolors==1.11.1
Werkzeug==1.0.1
